<header>
    <img src="assets/img/clovisgarcia.jpg" alt="Clovis Garcia foto de perfil" width="130px" height="130px" loading="eager">
    <h1>Clóvis Garcia</h1>
</header>
<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | Nodejs</p>
        <p>Itanhaém, São Paulo, brasil</p>
        <p>Estou na área de desenvolvimento de software a mais de 3 anos com desenvolvimento web e sempre me atualizando com as novas tendências.</p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/clovis-garcia" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="ícone do e-mail" width="22px" height="24px" />
                <figcaption>
                    <a href="https://wa.me//5513991582045?text=Ola%20Clovis!%20Preciso%20de%20um%20job!" target="_blank" >
                        <strong>Inicie uma mensagem para: </strong>
                        <p>whatsapp: (13) 991582045</p>
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="assets/icons/mail.svg" alt="ícone do e-mail" width="22px" height="24px" />
                <figcaption>
                    <a href="maito:dev.clovis.garcia@gmail.com" target="_blank" >
                        <strong>Envie um e-mail para: </strong>
                        <p>dev.clovis.garcia&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>